#container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
    z-index: 2;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
}
#container:target {
    visibility: visible;
    display: block;
}
.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}

.register-block {
    background-image: url("../img/Fragata2.jpg");
    background-position: center;
    background-size: cover;
    background-color: black;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    border: 5px groove black;
}